* {
    margin: 0;
    padding: 0;
}

.thick-border {
    height: 20px;
    background-color: black;

}

.border {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -30%);
    border: solid 2px black;
    width: 350px;
    padding: 5px;

}

.flex {
    display:flexbox ;
}

.right-text {
    text-align: right;
    font-size: 10px;
    font-weight: bold;
}

.text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.righttext {
    display: flex;
    justify-content: end;
}

.lefttext {
    display: flex;
    justify-content: start;
    
}

.space {
    margin-right: 2rem;
    width: 30px;

}

.blackline {
    background-color: black;
    height: 2px;
    margin: 5px;
}

.middlethickline {
    background-color: black;
    height: 2px;
    margin: 5px;
}

.margin {
    margin-left: 9px;
}

.calorie-text {
    display: flex;
    justify-content: end ;
    flex-direction: row;
}


.text2 {
    display: flex; 
    justify-content: center; 
    width: 100%;
}


/*
.top {
    position: relative; 
    left: 5.5rem;
}

.top2 {
    position: relative;
    left: 5%;
}

*/

.lefttext2 {
    display: flex;  
    width: 70%;
    text-align: center;
    
}

.less2 {
    width: 70%;
}

.less {
    width: 30% !important;

}

.righttext2 {
    display: flex; 
    text-align: center;
}
.space2 {
    margin-right: 2rem; 
}

.new {
    display: flex;
    justify-content: space-between;
    text-align: end;
}

.newf {
    width: 25%;

}

.news {
    width: 25%;
}