* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex { 
    max-width: 100%;
    display: flex;  
    flex-direction: row;
}
 

.dsl {
    display: flex; 
    flex-direction: column;
}

.tr {
    display: flex;
}

.nxt {
    display: flex; 
    flex-direction: column;
}

.one {    
    width:24vw; 
    height: 95vh; 
    background-color: red; 
    margin-right: 5px;
}

.two {  
    display: flex; 
    width: 24vw; 
    height: 33vh; 
    background-color: red; 
    margin-right: 5px;
}

.tree {  
    display: flex; 
    width: 24vw; 
    height: 33vh; 
    background-color: red;
}

.four {  
    display: flex; 
    width: 100%; 
    height: 33vh; 
    background-color: red; 
    margin-top: 5px;
}

.five {  
    display: flex; 
    width: 24vw; 
    height: 100%; 
    background-color: red; 
    margin-left: 5px;
}

.six {  
    width: 100%; 
    height:100%; 
    background-color: red; 
    margin-top:5px
}